* {
	-webkit-box-sizing: border-box; /* iOS <= 4 i Android <= 2.3 */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box; /* Chrome, Opera, Safari 5+ i IE 8+ */
}

body {
	margin: 0;
	padding: 0;
}

img {
    max-width: 100%;
    height: auto; 
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;	
}